* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#anketForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Georgia;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Georgia;
    border: 1px solid #aaaaaa;
}

/* Отмечаем ошибку в input при валидации  */
input.invalid {
    background-color: #f36969;
}


button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Georgia;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Отмечаем текущий шаг в форме  */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    background-color: rgb(250, 97, 8);
    opacity: 1;
}

/* Помечаем выполненые шаги  */
.step.finish {
    background-color: #4caf50;
}

/*#setAvatar input{
    width: 60px;
    height: 60px;
} */


